.background {
    -fx-background-color: rgb(93,65,134);
}

.form-header {
    -fx-background-color: rgb(77,77,78);
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.text-area {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.combo-box {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.combo-box:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.sendButton {
   -fx-background-color: rgb(176,176,176);
   -fx-border-width: 0;
   -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
   -fx-font-size: 16;
   -fx-pref-height: 35px;
   -fx-pref-width: 120px;
}

.sendButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.sendButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}