.background {
    -fx-background-color: rgb(93,65,134);
}

.login-header {
    -fx-background-color: rgb(77,77,78);
}

.login-container {
    -fx-background-color: rgb(172,171,172);
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.signUpButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: rgb(77,77,78);
}

.signUpButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.signUpButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.home-page-footer {
    -fx-background-color: rgb(77,77,78);
}

.home-page-header-box {
    -fx-background-color: rgb(77,77,78);
}

.home-page-container-box {
    -fx-background-color: rgb(172,171,172);
}

.home-page-user-information {
   -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
   -fx-font-weight: bold;
   -fx-font-size: 18;
}

.menuButton {
   -fx-background-color: rgb(176,176,176);
   -fx-border-width: 0;
   -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
   -fx-font-size: 16;
   -fx-pref-height: 35px;
   -fx-pref-width: 120px;
}

.menuButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.menuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}